/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.page {
	background-color: white;
	display: inline-block;
}

.content {
	background-color: #007bb5;
	margin-left: 23%;
	margin-right: 16%;
	float: right;
	z-index: 1;
	padding-left: 50px;
	height: 29%;
	width: 92%;
}

.content h1 {
	text-align: center;
	
}

.main {
	text-align: left;
	padding-top: 20px;
	background-color: white;
	display: inline-block;
	margin-bottom: -97px;
	margin-left: 41%;
}

.iphone {
	margin-top: 100px;
	margin-left: 41%;
	

}

ul {
	text-align: center;
}

ul > li {
	display: inline-block; 
	text-align: center;

}
.product-photo {
	margin: 10%;
	position: absolute; 
	right: 526px; 
	width: 28%;

}

.android {
	position: fixed;
	top: 447px;
	left: 482px;
}

.footer {
	margin-top: 65%; 
}